body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ddfdff;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    background-color: #00ffd0;
}

p{
    text-align: justify;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgb(255, 255, 255);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-align: center;
}
.card:hover{
    background-color: #e3f1ff;
}
.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #000000;
}

button {
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
